{% extends "categories/base.html" %}
{% block title %}Описание товара{% endblock %}
{% block content %}
    <h1>{{ product }}</h1>
    <br/>
    {% if images %}
        {% for image in images %}
            <img src="{{ image.image.url }}" alt="Smth" width="100px" height="100px"/>
        {% endfor %}
    {% endif %}
    <br/>
    <br/>
    <h4>Стоимость: {{ product.price }}$</h4>
    <br/>
    <h4>Описание:</h4>
    <h5>{{ product.content }}</h5>
    <br/>
    <h4>Категория товара: {{ product.categories }}</h4>
{% endblock %}